---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
  <head>
    <BaseHead title="About Me" description="Learn more about my skills and experience" />
    <style>
      main {
        width: calc(100% - 2em);
        max-width: 720px;
        margin: auto;
        padding: 1em;
        color: rgb(var(--gray-dark));
      }
      h1 {
        text-align: center;
        margin-bottom: 1em;
      }
      h2 {
        margin-top: 1.5em;
        color: rgb(var(--primary));
      }
      ul {
        list-style: disc;
        padding-left: 1.5em;
      }
      p, li {
        line-height: 1.6;
        margin-bottom: 0.8em;
      }
    </style>
  </head>
  <body>
    <Header />
	<main>
		<h1>About Me</h1>
		<p>
		  Hi! I am a backend developer passionate about building scalable and reliable systems. Throughout my career, I have worked with various technologies and tools, developing innovative and high-impact solutions.
		</p>
	  
		<h2>Technologies and Tools I Use:</h2>
		<ul>
		  <li>
			<strong>Node.js:</strong> Development in JavaScript and TypeScript, with experience in frameworks such as Express, Nest.js, and Astro to build modern and scalable applications.
		  </li>
		  <li>
			<strong>Python:</strong> API development with FastAPI, focused on efficiency and best practices.
		  </li>
		  <li>
			<strong>SQL Databases:</strong> Design, optimization, and management of databases with SQL Server, SQLite, and Supabase.
		  </li>
		  <li>
			<strong>Software Testing:</strong> Creation of unit tests with Jest, as well as end-to-end (E2E) or mocked tests to ensure software quality.
		  </li>
		  <li>
			<strong>Data Validation:</strong> I implement robust validations to ensure data integrity in applications.
		  </li>
		  <li>
			<strong>Cloud Administration:</strong> Management of Azure resources, including repositories, secrets, authentication, development environments, and CI/CD pipeline configuration.
		  </li>
		  <li>
			<strong>Version Control:</strong> Advanced use of Git, handling different branches, collaborative workflows, and conflict resolution.
		  </li>
		</ul>
	  
		<h2>What Drives Me?</h2>
		<p>
		  I am committed to continuous learning and enjoy tackling new challenges. My focus is on creating reliable and efficient systems, applying best development practices, and collaborating in multidisciplinary teams.
		</p>
	  
		<h2>Outside of Coding</h2>
		<p>
		  Besides coding, I love sharing knowledge, exploring new technologies, and contributing to the growth of the tech community.
		</p>
	  </main>  
    <Footer />
  </body>
</html>