---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>
			  Code, Innovation, and Creativity.
			</h1>
			<p>
			  I am a backend developer with a specialization in databases and the creation of scalable APIs. My career began in the field of Ecology, but technology fascinated me, and I decided to reinvent myself as a software developer. Since then, I have worked on various projects that integrate my passion for creating innovative technological solutions.
			</p>
			<p>
			  This career shift was recognized in <a
				href="https://forbes.co/2022/05/29/editors-picks/como-abogados-psicologos-y-hasta-filosofos-se-estan-convirtiendo-desarrolladores-de-software-y-cientificos-de-datos"
				target="_blank">Forbes</a> (read the full article), where my transition into the world of software development was highlighted. In addition, I received a special recognition in my previous job during the <strong>STEAM Women's Day</strong>, <a
				href="https://www.linkedin.com/feed/update/urn:li:activity:7029501706644152320/"
				target="_blank">see recognition details</a>, which underscores my commitment and performance in the tech field.
			</p>
			<p>
			  Explore my projects to learn more about how I can help you build effective technological solutions that solve real-world challenges.
			</p>
			<a href="https://drive.google.com/file/d/1_57fdMjia0NeX8J9o4EnAdhFxPNnEeaA/view?usp=drive_link" class="btn-download" download>
				Download CV
			  </a>
			  
		  </main>
		<Footer />
	</body>
</html>
